RemoteSystemsTempFiles/
.recommenders/
.metadata/
TradingMachineServer/log/
TradingMachineServer/target/
TradingMachineOrderRouter/log/
TradingMachineOrderRouter/target/
TradingMachineServices/log/
TradingMachineServices/target/
TradingMachineUtility/log/
TradingMachineUtility/target/

